@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "outfit", sans-serif;
  font-size: 15px;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

main {
  background-color: hsl(0, 0%, 100%);
  max-width: 300px;
  padding: 20px;
  border-radius: 15px;
}

img {
  border-radius: 15px;
  max-width: 100%;
}

.header {
  font-size: 22px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}

.subheader {
  font-size: 16px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}

.header,
.subheader {
  margin: 1rem 0 1rem 0;
}

.attribution {
  margin-top: 1rem;
  font-size: 11px;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
